* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: "DM Sans", sans-serif;
}
/* Global Css for all p tag h2 tag and so on.............. */
p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  color: #999999;
}
h2 {
  font-size: 35px;
  font-weight: 700;
}
/* duita button er property jeta onk pera dise amake . */

/* button one eta */
.btn  {
    background: #008ed6  !important;
    font-size: 14px !important;
    padding: 12px 20px !important;
    border-radius: 4px;
    margin-right: 16px;
    transition: 0.5s;
    font-weight: 700 !important;
    border: 1px solid transparent !important;
  }



/* button hover effect first er button er jonne */
  .btn:hover {
    background: transparent !important;
    border: 1px solid #ebebeb !important;
    border-radius: 5px;
    transition: 0.5s;
   
  }

  /* button 2 eta i mean view features button eta */
.btn2 {
  font-size: 18px;
  padding: 12px 20px !important;
  color: #333; 
  border: 1px solid #ebebeb;
  border-radius: 5px;
  display: inline;
  transition: 0.s;
}

/* button 2 e hover effect  */
.btn2:hover {
    background-color: #008ed6;
    border: 1px solid #008ed6 !important;
    border-radius: 5px;
    transition: 0.5s;
  }



.btn a{
    color: #333 !important;
    text-decoration: none;

}

.btn-focus {
  padding-bottom: 28px;
}
a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    display: inline;
  }

  a:not(.btn a) {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
/* header section er kaj ekhan theke shuru */
header {
  width: 100%;
  background-image: url(img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
/* header start */
header .bg-body-tertiary {

  background-color: rgb(255 255 255 / 0%) !important;
}

header nav img {
  width: 140px !important;
}

/* menu gular style  */
header .nav-item .nav-link {
  color: #fff !important;
  position: relative;
  font-weight: 400 !important;
  margin-right: 10px;
  font-size: 16px;
}

/* menu gula hover korle nicher underline style. eta hocche pseudo code */
header .nav-item .nav-link:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  background-color: #578bd1;
  left: 0;
  bottom: -3px;
  transition: 0.4s;

}



header .nav-item .nav-link:hover:after {
  width: 100%;
  transition: 0.4s;

}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(227, 227, 227) !important;
  border-bottom: 3px solid #578bd1;
}
header .text {
  margin-top: 45px;
  padding-bottom: 42px;
}

header .text h5 {
  color: #008ed6;
  text-transform: uppercase;
  font-weight: 700;
  font-style: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}
header .text h1 {
  font-size: 50px;
  color: #fff;
  width: 46%;
  font-weight: 700;
}
header .text p {
  color: #fff;
  line-height: 26px;
  width: 42%;
  margin-top: 20px;
  margin-bottom: 58px;
}

/* features style  */
.product {
  padding-top: 50px;
  padding-bottom: 38px;

  text-align: center;
  border-bottom: 1px solid rgb(215, 215, 215);

}

.heading-part h2{
    font-weight: 700;
    font-size: 37px;
}

.product .heading-part h5 {
  color: #008ed6;
  text-transform: uppercase;
  font-weight: 700;
  font-style: uppercase;
  font-size: 14px;
  margin-bottom: 7px;
}

.product .heading-part .line {
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  border-bottom: 3px solid #578bd1;
  padding-bottom: 20px;
  transition: 0.5s;
}
.product:hover .line {
  width: 10%;

  transition: 0.5s;
}
.product .inner {
  padding-top: 50px;
}
.product .inner i {
  font-size: 30px;
  color: #008ed6;
  background-color: white !important;
  width: 88px;
  height: 88px;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 50%;
  padding-top: 26px;
  margin-bottom: 20px;
}

.product .inner h5 {
  font-size: 22px;
  color: #1a1a1a;
}

.product .inner p {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}
